#Phong
{
	width: 70vw;
	height: 20vw;
}

#Blinn-Phong
{
	width: 40vw;
	height: 20vw;
}

#PBR
{
	width: 40vw;
	height: 24vw;
}

img
{
	border-radius: 10px;

	animation-name: RoundAnim;
	animation-duration: 1000ms;
	animation-delay: 0ms;
	animation-iteration-count: infinite;
}

@keyframes RoundAnim
{
	0%
	{
		border-radius: 10px;
	}
	50%
	{
		border-radius: 50px;
	}
	100%
	{
		border-radius: 10px;
	}
}
